body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }

    .container{
        width: 900px;
        border: 9px solid ;
        padding: 22px;
        margin: 20px;
        border-radius: 25px;
        margin-left: auto;
        margin-right: auto;
      }